<include file='Common:top'/>

<script type="text/javascript" src="__PUBLIC__/Js/Jedate/jedate.js"></script>
<body>
<div class="panel admin-panel">
    <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span> 修改直播</strong></div>
    <div class="body-content">
        <form method="post" class="form-x" action="" enctype="multipart/form-data">
            <input type="hidden" name="act_id" value="{$action.act_id}" />

            <div class="form-group">
                <div class="label">
                    <label>直播赛事名：</label>
                </div>
                <div class="field">
                    <input type="text" class="input w50" value="{$action.act_name}" name="act_name" data-validate="required:请输入赛事名"/>
                    <div class="tips"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>左队名：</label>
                </div>
                <div class="field">
                    <input type="text" class="input w50" value="{$action.left_player}" name="left_player" data-validate="required:请输入左边比赛队名"/>
                    <div class="tips"></div>
                </div>
            </div>	
            <div class="form-group">
                <div class="label">
                    <label>右队名：</label>
                </div>
                <div class="field">
                    <input type="text" class="input w50" value="{$action.right_player}" name="right_player" data-validate="required:请输入右边比赛队名"/>
                    <div class="tips"></div>
                </div>
            </div>				
            <div class="form-group">
                <div class="label">
                    <label>左队得分：</label>
                </div>
                <div class="field">
                    <input type="number" class="input w50" value="{$action.left_num}" name="left_num" data-validate="required:请输入左队得分"/>
                    <div class="tips"></div>
                </div>
            </div>			
            <div class="form-group">
                <div class="label">
                    <label>右队得分：</label>
                </div>
                <div class="field">
                    <input type="number" class="input w50" value="{$action.right_num}" name="right_num" data-validate="required:请输入右队得分"/>
                    <div class="tips"></div>
                </div>
            </div>				
			
			<div class="form-group">
                <div class="label">
                    <label>左队LOGO：</label>
                </div>
                <div class="field">
                    <div style="width:90px;height: 90px;margin-right: 35px;float: left;position: relative;">
                        <img <if condition="$action['left_player_logo']">src="__ROOT__{$action.left_player_logo}"<else />src="__PUBLIC__/Zadmin/images/add.png"</if> style="width: 100%;height: 100%;" />
                        <input type="file" onchange="change_img(this)" style="width:90px;height: 90px;opacity: 0;position: absolute;top:0;left: 0;" name="image[]">
                    </div>
                </div>
            </div>
			<div class="form-group">
                <div class="label">
                    <label>右队LOGO：</label>
                </div>
                <div class="field">
                    <div style="width:90px;height: 90px;margin-right: 35px;float: left;position: relative;">
                        <img <if condition="$action['right_player_logo']">src="__ROOT__{$action.right_player_logo}"<else />src="__PUBLIC__/Zadmin/images/add.png"</if> style="width: 100%;height: 100%;" />
                        <input type="file" onchange="change_img(this)" style="width:90px;height: 90px;opacity: 0;position: absolute;top:0;left: 0;" name="image[]">
                    </div>
                </div>
            </div>				
			
            <div class="form-group">
                <div class="label">
                    <label>比赛时间：</label>
                </div>
                <div class="field">
                    <input type="text" id="datebut" class="input w50" value="{$action.act_time}" onClick="jeDate({dateCell:'#datebut',isTime:true,format:'YYYY-MM-DD hh:mm:ss'})" name="act_time" data-validate="required:请输入时间"/>
                    <div class="tips"></div>
                </div>
            </div>		

            <div class="form-group">
                <div class="label">
                    <label>直播平台及地址：</label>
                </div>
                <div class="field">					
					<input type="button" onclick="add_plat_form('act_platform')" style="color:green;line-height:30px;" value="添加" />
                </div>
            </div>				
            <div id="act_platform" class="form-group">
				<if condition="$action['act_platform_arr']">
					<volist name="action.act_platform_arr" id="vo">
						<div style="line-height:40px;margin:5px 0;">
							<div class="label"></div>
							<span style="float:left;">平台名：</span><input class="input" style="width:15%;float:left;" type="text" value="{$vo.name}" name="act_platform[]" data-validate="required:请输入平台名"/>
							<span style="float:left;margin-left:10px;">播放地址：</span><input class="input w50" type="text" value="{$vo.url}" name="act_platform_url[]" data-validate="required:请输入播放地址"/>
							<a style="margin-left:20px;color:red;" onclick="del_plat_form(this)" href="javascript:void(0);">删除</a>
							<div class="clear"></div>
						</div>	
					</volist>
				</if>
            </div>				

            <div class="form-group">
                <div class="label">
                    <label>类别：</label>
                </div>
                <div class="field">
                    <select name="type_id" class="input w50" data-validate="required:请选择类别">
                        <option value="">请选择类别</option>
                        <volist name="types" id="vo">
                            <option <if condition="$action['type_id'] eq $vo['type_id']">selected='selected'</if> value="{$vo.type_id}">{$vo.type_name}</option>
                        </volist>
                    </select>
                    <div class="tips"></div>
                </div>
            </div>

            <div class="clear"></div>
            <div class="form-group">
                <div class="label">
                    <label>当前状态：</label>
                </div>
                <div class="field">
                    <input type="text" class="input w50" value="{$action.status_desc}" name="status_desc" />
                </div>
            </div>				
			
            <div class="form-group">
                <div class="label">
                    <label>展示：</label>
                </div>
                <div class="field" style="padding-top:8px;">
                    否 <input name="is_show" <if condition="$action['is_show'] eq 0">checked</if> value="0" type="radio"/>
                    是 <input name="is_show" <if condition="$action['is_show'] eq 1">checked</if> value="1" type="radio"/>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>精华：</label>
                </div>
                <div class="field" style="padding-top:8px;">
                    否 <input name="is_good" <if condition="$action['is_good'] eq 0">checked</if> value="0" type="radio"/>
                    是 <input name="is_good" <if condition="$action['is_good'] eq 1">checked</if> value="1" type="radio"/>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>热门：</label>
                </div>
                <div class="field" style="padding-top:8px;">
                    否 <input name="is_hot" <if condition="$action['is_hot'] eq 0">checked</if> value="0" type="radio"/>
                    是 <input name="is_hot" <if condition="$action['is_hot'] eq 1">checked</if> value="1" type="radio"/>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>结束：</label>
                </div>
                <div class="field" style="padding-top:8px;">
                    否 <input name="is_over" <if condition="$action['is_over'] eq 0">checked</if> value="0" type="radio"/>
                    是 <input name="is_over" <if condition="$action['is_over'] eq 1">checked</if> value="1" type="radio"/>
                </div>
            </div>

            <div class="form-group">
                <div class="label">
                    <label></label>
                </div>
                <div class="field">
                    <button class="button bg-main icon-check-square-o" type="submit"> 修改</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>

    function change_img(obj){
        var files = obj.files;
        if (!files.length || !window.FileReader) return;
        if (/^image/.test( files[0].type)){
            var reader = new FileReader();
            reader.readAsDataURL(files[0]);
            reader.onloadend = function(){
                $(obj).siblings('img').attr('src',this.result);
            }
        }
    }
	
	function add_plat_form(id){
		var str =  '';
		str += '<div style="line-height:40px;margin:5px 0;">';
		str += '<div class="label"></div>';
		str += '<span style="float:left;">平台名：</span><input class="input" style="width:15%;float:left;" type="text" value="" name="act_platform[]" data-validate="required:请输入平台名"/>';
		str += '<span style="float:left;margin-left:10px;">播放地址：</span><input class="input w50" type="text" value="" name="act_platform_url[]" data-validate="required:请输入播放地址"/>';
		str += '<a style="margin-left:20px;color:red;" onclick="del_plat_form(this)" href="javascript:void(0);">删除</a>';
        str += '<div class="clear"></div>';
        str += '</div>';
		$('#'+id).append(str);
	}
	
	function del_plat_form(obj){
		$(obj).parent().remove();
	}	
	
</script>

</body>
</html>