<include file='Common:top'/>

<script type="text/javascript" src="__PUBLIC__/Js/Jedate/jedate.js"></script>

<body>
<div class="panel admin-panel">
    <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span> 发表直播</strong></div>
    <div class="body-content">
        <form method="post" class="form-x" action="">	
            <div class="form-group">
                <div class="label">
                    <label>直播ID：</label>
                </div>
                <div class="field">
                    <input type="number" class="input w50" value="" name="act_id" data-validate="required:请输入直播ID"/>
                    <div class="tips"></div>
                </div>
            </div>		
            <div class="form-group">
                <div class="label">
                    <label>直播赛事名：</label>
                </div>
                <div class="field">
                    <input type="text" class="input w50" value="" name="act_name" data-validate="required:请输入赛事名"/>
                    <div class="tips"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>左队：</label>
                </div>
                <div class="field">
                    <select name="left_p_id" class="input w50" data-validate="required:请选择球队">
                        <option value="">请选择球队</option>
                        <volist name="players" id="vo">
                            <option value="{$vo.p_id}">{$vo.p_name}</option>
                        </volist>
                    </select>
                    <div class="tips"></div>
                </div>
            </div>			
            <div class="form-group">
                <div class="label">
                    <label>右队：</label>
                </div>
                <div class="field">
                    <select name="right_p_id" class="input w50" data-validate="required:请选择球队">
                        <option value="">请选择球队</option>
                        <volist name="players" id="vo">
                            <option value="{$vo.p_id}">{$vo.p_name}</option>
                        </volist>
                    </select>
                    <div class="tips"></div>
                </div>
            </div>			
            <div class="form-group">
                <div class="label">
                    <label>左队得分：</label>
                </div>
                <div class="field">
                    <input type="number" class="input w50" value="0" name="left_num" data-validate="required:请输入左队得分"/>
                    <div class="tips"></div>
                </div>
            </div>			
            <div class="form-group">
                <div class="label">
                    <label>右队得分：</label>
                </div>
                <div class="field">
                    <input type="number" class="input w50" value="0" name="right_num" data-validate="required:请输入右队得分"/>
                    <div class="tips"></div>
                </div>
            </div>						
            <div class="form-group">
                <div class="label">
                    <label>比赛时间：</label>
                </div>
                <div class="field">
                    <input type="text" id="datebut" class="input w50" value="" onClick="jeDate({dateCell:'#datebut',isTime:true,format:'YYYY-MM-DD hh:mm:ss'})" name="act_time" data-validate="required:请输入时间"/>
                    <div class="tips"></div>
                </div>
            </div>		
            <div class="form-group">
                <div class="label">
                    <label>直播平台及地址：</label>
                </div>
                <div class="field">					
					<input type="button" onclick="add_plat_form('act_platform')" style="color:green;line-height:30px;" value="添加" />
                </div>
            </div>				
            <div id="act_platform" class="form-group">
                <div style="line-height:40px;margin:5px 0;">
					<div class="label"></div>
					<span style="float:left;">平台名：</span><input class="input" style="width:15%;float:left;" type="text" value="" name="act_platform[]" data-validate="required:请输入平台名"/>
					<span style="float:left;margin-left:10px;">播放地址：</span><input class="input w50" type="text" value="" name="act_platform_url[]" data-validate="required:请输入播放地址"/>
					<a style="margin-left:20px;color:red;" onclick="del_plat_form(this)" href="javascript:void(0);">删除</a>
					<div class="clear"></div>
                </div>			
            </div>				
			
            <div class="form-group">
                <div class="label">
                    <label>类别：</label>
                </div>
                <div class="field">
                    <select name="type_id" class="input w50" data-validate="required:请选择类别">
                        <option value="">请选择类别</option>
                        <volist name="types" id="vo">
                            <option value="{$vo.type_id}">{$vo.type_name}</option>
                        </volist>
                    </select>
                    <div class="tips"></div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="form-group">
                <div class="label">
                    <label>当前状态：</label>
                </div>
                <div class="field">
                    <input type="text" class="input w50" value="" name="status_desc" />
                </div>
            </div>				
			
            <div class="form-group">
                <div class="label">
                    <label>展示：</label>
                </div>
                <div class="field" style="padding-top:8px;">
                    否 <input name="is_show" value="0" type="radio"/>
                    是 <input name="is_show" checked value="1" type="radio"/>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>精华：</label>
                </div>
                <div class="field" style="padding-top:8px;">
                    否 <input name="is_good" checked value="0" type="radio"/>
                    是 <input name="is_good" value="1" type="radio"/>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>热门：</label>
                </div>
                <div class="field" style="padding-top:8px;">
                    否 <input name="is_hot" checked value="0" type="radio"/>
                    是 <input name="is_hot" value="1" type="radio"/>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>结束：</label>
                </div>
                <div class="field" style="padding-top:8px;">
                    否 <input name="is_over" checked value="0" type="radio"/>
                    是 <input name="is_over" value="1" type="radio"/>
                </div>
            </div>

            <div class="form-group">
                <div class="label">
                    <label></label>
                </div>
                <div class="field">
                    <button class="button bg-main icon-check-square-o" type="submit"> 发布</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
				
	function add_plat_form(id){
		var str =  '';
		str += '<div style="line-height:40px;margin:5px 0;">';
		str += '<div class="label"></div>';
		str += '<span style="float:left;">平台名：</span><input class="input" style="width:15%;float:left;" type="text" value="" name="act_platform[]" data-validate="required:请输入平台名"/>';
		str += '<span style="float:left;margin-left:10px;">播放地址：</span><input class="input w50" type="text" value="" name="act_platform_url[]" data-validate="required:请输入播放地址"/>';
		str += '<a style="margin-left:20px;color:red;" onclick="del_plat_form(this)" href="javascript:void(0);">删除</a>';
        str += '<div class="clear"></div>';
        str += '</div>';
		$('#'+id).append(str);
	}
	
	function del_plat_form(obj){
		$(obj).parent().remove();
	}
	
</script>

</body>
</html>