<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>{$web_infos.web_title}</title>
    <meta name="keywords" content="{$web_infos.web_key}">
    <meta name="Description" content="{$web_infos.web_desc}">
	<link rel="shortcut icon" href="favicon.ico">
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/common.css"/>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/index.css"/>
    <script src="__PUBLIC__/Home/js/jquery-3.2.1.min.js"></script>
</head>
<body>

<div class="module">

	<div class="content">
		<table>
			<tr>
				<td class="td_1" ></td>
				<td class="td_2" >
					<div>
						<img src="__ROOT__{$info.left_player_logo}" alt="左队LOGO" style="display: inline;">
					</div>
					<div><b>{$info.left_player}</b></div>
				</td>
				<td class="td_3" >
					<div class="s_name" ><b>{$info.act_name}</b></div>
					<div class="s_keyword" ><b>{$info.act_desc}</b></div>
				</td>
				<td class="td_4" >
					<div>
						<img src="__ROOT__{$info.right_player_logo}" alt="右队LOGO" style="display: inline;">
					</div>
					<div><b>{$info.right_player}</b></div>
				</td>
				<td class="td_5"></td>
			</tr>	
		</table>	

		<if condition="$info['act_platform_arr']">
			<div class="link">
				<volist name="info.act_platform_arr" key="key" id="item">	
					<a class="link_info" target="_blank" href="{$item.url}">{$item.name}</a>
				</volist>
			</div>
		</if>
	</div>

</div>

</body>
</html>